.Introduction {
            font-style  : italic;
            color       : #003399;
        }
#Header{
    background-color    : #C0C0C0;
    width               : 844px;
    height              : 86px;
}

*{
    font-family         : Arial;
}

h1{
    font-size           : 20px;
}

#PageWrapper{
    width               : 844px;
}

#MenuWrapper{
    width               : 844px;
}

#MainContent{
    width               : 664px;
    float               : left;
}

#MainContent a{
    color               : #008000;
    text-decoration     : underline;
}

#MainContent a:visited{
    color               : #FF0000;
    text-decoration     : underline;
}

#MainContent a:hover{
    color               : #FFA500;
    text-decoration     : underline;
}

#Sidebar{
    background-color    : gray;
    width               : 180px;
    float               : right;
}

#Footer{
    background-color    : #C0C0C0;
    width               : 844px;
    clear               : both;
}